	*
        {
            padding: 0;
            margin : 0;
        }
        body
        {
            background: #ecf0f1;
        }
        header
        {
            width: 100%;
            height: 100px;
            background: #95a5a6;
        }
        .main-container
{
    width : 100%;
    height: 100%;
}
.Dashboard a,.logout a
{
    text-decoration: none;
    color : white;
    font-size: 200%;
    font-family : Courier New;
    padding: 8px;
}
.Dashboard
{
    position: absolute;
    left : 4%;
    width: 15%;
    height: 35px;
    top : 34px;
    background: #3498db;
    text-align: center;
    border-radius: 15px;
    display: block;
}
.logout
{
    border-radius: 15px;
    position: absolute;
    background: #cd201f;
    width : 10%;
    top : 34px;
    height: 35px;
    right : 4%;
    text-align: center;
    display: block;
}

form
{
    width : 60%;
    height: 400px;

    justify-content: center;
    align-items: center;
}
select
{
    width : 100%;
    height: 20%;
    font-size: 1.5em;
   
    background: #2980b9;
    color : white;
}
select:focus {outline: none;}
.flex-container
{
    width : 100%;
    height: 100%;
 
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-container
{
   width : 100%;
   height: 50%;
  
}
.delete-container
{
    width : 100%;
   height: 50%;
 
}
#delete
{
    width: 40%;
    font-size: 1.5em;
    font-family: Courier New;
    box-shadow: 0px 2px 4px 0px;
}
#delete:hover
{
    background: #bdc3c7;
}