header 
    {

        margin-top : -25px;
	width : 100%;
	height : 110px;
	background: #576574;
    }
   footer
{   
    width : 100%;
    height : 60px;
    background: #253d78;
    bottom : 0;
    color : white;
    text-align : center;
    padding-top : 10px;
    font-size: large;
    line-height: 5vh;
    left : 0;
}
.print
{
    text-align: center;
}
    h1
   
    {
        text-align: center;
        color : white;
        font-size: 3rem;
        line-height: 12.5vh;
    }
    #para1
    {
        width: 200px;
        height: 200px;
    
	text-align : center;
	border-radius : 100%;
	
	background:  #2c3e50;
	color : white;
	font-size :5rem;
	line-height: 200px;
    margin-top: 0;
	margin-bottom : 10px;
    }
    #para3
    {
        font-size: x-large;
        color : #273c75;
        text-align: center;
    }
    button
    {
        position: absolute;
        right : 7%;
        top : 5%;
    	background: #c0392b;
    	border-radius: 23%;
    	color : white;
    	font-size : large;
    	width : 135px;
    	height : 50px;
    	text-align: center;

    }
    table
    {
    	margin-top : 0px;
    	border : 0px solid black;
    }
    th
    {
    	font-size: x-large;
    }
    tr
    {
    	padding : 5px;
    }
    td
    {
        background: #7f8c8d;
		color : white;
       border : 0px solid black;
    	text-align: center;
    	padding : 20px;
    	font-size: large;
    }
   
    .show1
    {
       background: #e1b12c;
	   color : black;
    }
    .show2
    {
      background: #7bed9f;
	  color : black;
    }
    .show3
    {
        background: #ff6348;
		color : black;
    }
    .col2
    {
    	text-align : left;
    }
    button:hover
    {
    	background: #cd201f;
    }
    #main
    {
        height: 120px;
        width: 100%;
        
    }
    #div1,#div2,#div3
    {
        position: absolute;

        float: left;
        padding :5px 25px ;
        text-align: center;
        width : 150px;
        height : 80px;
        margin : 10px;
        font-size: x-large;
        line-height: 30px;
    }
    #div1
    {

       background: #68a030;
  left : 23%;
    }
    #div2
    {
      background:   #cd201f;
      left : 43%;    
    }
    #div3
    {
     background: #e1b12c;
     left : 63%;
    }
    #para2
    {
        font-size: x-large;
        color : blue;
    }
    #logout
    {
        position: absolute;
        color : white;
        font-size: x-large;
        top : 5vh;
        right : 4%;
    }
  a
{
  font-family: courier new;
  font-size: x-large;
  color:  blue;
}
