     header
{

  width : 100%;
  height: 120px;
  background: #2c3e50;
  margin-top : -25px;
  padding : 0;


}
body
{
  background: #c8d6e5;
}
     h1
     {
      font-size:3em;
      padding-top: 10px;
      font-family: Courier New;
      font-weight: 300;

     }
      form
      {
        font-size: xx-large;
        width: 100%;
        padding-top: 5%;
        background: #95a5a6;
        padding-bottom: 20px;
         font-family: Courier New;

      }
      div
      {
        width : 65%;
          background: #95a5a6;
          box-shadow: 2px 2px 4px;
      }
    select
    {
      width : 85%;
      height: 37px;
      border : 2px solid : #7f8c8d;
      box-shadow: 2px 2px 6px;
      font-size: 65%;
      font-weight: bold;
      padding : 5px;
       font-family: Courier New;
    }
    input 
    {
      margin-left: 20px;
      width : 70%;
      height: 30px;
      font-size: large;
      font-weight: bold;
      

    }
#submit
{
    width: 40%;
    font-size: 1.5em;
    font-family: Courier New;
    box-shadow: 0px 2px 4px 0px;
}
#submit:hover
{
    background: #bdc3c7;
}
.main-container
{
    width : 100%;
    height: 100%;
}
.logout 
{
    
    color : white;
    
    font-family : Courier New;
    padding: 8px;
}
a
{
  font-size: 200%;
  text-decoration: none;
  color: white;
}

.logout
{
    border-radius: 15px;
    position: absolute;
    background:#3498db;
    width : 10%;
    top : 27px;
    height: 35px;
    right : 4%;
    text-align: center;
    display: block;
}
#key
{
 width : 50%;
 box-shadow : 0px 2px 4px 0px;
 border : none;
 padding-left : 10px;
}
#key:focus
{
  background: #3498db;
}

.logout:hover
{
  background: blue;
}


